.elements__element {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  background-color: #fff;
  overflow: hidden;
}
.element__img {
  object-fit: cover;
  max-width: 282px;
  height: 282px;
}
.element__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 15px 31px 21px;
}

.element__img:hover {
  cursor: pointer;
}
.element__name {
  display: flex;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: black;
}
.element__like {
  border: none;
  background: url(../images/svg/like-off.svg) center no-repeat;
  background-size: 100%;
  width: 21px;
  height: 21px;
}

.element__like:hover {
  opacity: 0.6;
  cursor: pointer;
}
.element__like_active {
  opacity: 1;
  background: url(../images/svg/like-on.svg) center no-repeat;
  background-size: 100%;
}

.element__remove {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 25px;
  width: 25px;
}
.element__remove:hover {
  opacity: 0.6;
  cursor: pointer;
}
