.popup {
  overflow: visible;
  border: none;
  border-radius: 2%;
  width: 28rem;
  min-height: 330px;
  padding: 0;
  transition: width 0.3s ease;
}
.popup::backdrop {
  background-color: #000;
  opacity: 0.6;
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 3%;
  min-height: 330px;
}
.popup__title {
  width: 22rem;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.popup__input {
  width: 22rem;
  border: none;
  border-bottom: 2px #f1f1f1 solid;
}

.popup__save-btn {
  border-radius: 4px;
  width: 22rem;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #c4c4c4;
  background-color: #000;
}

.popup__save-btn:hover {
  background-color: #000;
  opacity: 0.8;
  cursor: pointer;
}
.popup__close-btn {
  position: absolute;
  right: -40px;
  top: -40px;
  border: none;
  background-color: #000;
}
.popup__close-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  .popup__close-btn {
    position: absolute;
    right: 0;
  }
}
@media screen and (max-width: 430px) {
  .popup {
    width: 17rem;
  }
  .popup__title {
    width: 14rem;
  }
  .popup__input {
    width: 14rem;
  }
  .popup__save-btn {
    width: 14rem;
  }
}
