.popup {
  overflow: visible;
  border: none;
  border-radius: 2%;
  width: 28rem;
  min-height: 330px;
  padding: 0;
  transition: width 0.3s ease;
}
.popup::backdrop {
  background-color: #000;
  opacity: 0.6;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 3%;
  min-height: 330px;
}
.popup__form-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  min-height: 181px;
}
.popup__form-medium {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  min-height: 272px;
}
.popup__title {
  width: 22rem;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.popup__input {
  height: 27px;
  width: 22rem;
  border: none;
  border-bottom: 1px #f1f1f1 solid;
  transition: width 0.3s ease;
}
.popup__input_type_error {
  border-bottom: 1px red solid;
}
.popup__input:valid {
  border-bottom: 1px rgb(8, 170, 8) solid;
}
.popup__input-error_active {
  color: rgb(255, 0, 0);
}

.popup__submit-btn {
  border-radius: 4px;
  width: 22rem;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  color: #c4c4c4;
  background-color: #000;
}

.popup__submit-btn_inactive {
  background-color: #c4c4c4;
  color: #fff;
}

.popup__close-btn {
  position: absolute;
  right: -40px;
  top: -35px;
  border: none;
  background: none;
  outline: none;
}
.popup__close-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.popup__image {
  overflow: visible;
  border: none;
  padding: 0;
  transition: width 0.3s ease;
  max-width: 75vw;
  max-height: 75vh;
}
.popup__image::backdrop {
  background-color: #000;
  opacity: 0.6;
}
.popup__image-render {
  max-width: 75vw;
  max-height: 75vh;
}
.popup__image-name {
  position: absolute;
  bottom: -25px;
  color: #fff;
}
.popup__confirmation {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: visible;
  border: none;
  border-radius: 2%;
  width: 28rem;
  min-height: 181px;
}
.popup__avatar {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: visible;
  border: none;
  border-radius: 2%;
  width: 28rem;
  min-height: 272px;
}
@media screen and (max-width: 550px) {
  .popup__close-btn {
    position: absolute;
    right: 0;
  }
}
@media screen and (max-width: 430px) {
  .popup {
    width: 17rem;
  }
  .popup__title {
    width: 14rem;
  }
  .popup__input {
    width: 14rem;
  }
  .popup__submit-btn {
    width: 14rem;
  }
}
